

body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin: 0px;
	max-width: 1300px;
	height: 100vh;

}

h1, h2, h3{
	font-family: 'Paytone One', sans-serif;
	letter-spacing: 1px;
	color: #054F81;
}

/* --------- header section styling  ------------- */
header{
	height: 80px;  /* this will effect the flex heigts*/
	background-color: #054F81;
	padding: 2%;
}

h1{
	letter-spacing: 4px;
	color: #fff;
	font-size: 54px;
	margin: 0 2% 0 3%;

}

#navSearchBox{
	background: white url(../images/search.png) right center no-repeat;
	width: 250px;
	height: 30px;
	font-size: 17px;
	padding-left: 10px;
	border-radius: 6px;
	margin-bottom: 10px;
}

#redCircle{
	color: #F1592F;
}

#greenCircle{
	color: #89A94A;
}


/* --------- nav section styling  ------------- */

nav{
	width: 100%;
	padding-left: 10px;
	border-top: 2px solid rgba(128, 128, 128, 0.59);
	border-bottom: 2px solid rgba(128, 128, 128, 0.59);
}

/* selecting all dropdowns and conent in navbar */
.dropdown {
	display: inline-block;
	border: 1px solid #054F81;
	font-size: 13px;
	padding-left: 5px;
}

.dropdown:hover, .navItem > input:hover{
	background-color: rgba(251, 201, 87, 0.3);
}

/* selecting the calendar input boxes */
.navItem > input {
	border: 1px solid #054F81;
	font-size: 13px;
	border-radius: 6px;
	margin-left: 5px;
} 

#ratingButton{
	border-radius: 15px;
	border: 1px solid #BCBCBC;
	padding: 3px 8px;
	font-size: 14px;
	color: #054F81;
}

#ratingButton:hover{
	padding: 5px 10px;
	background-color: rgba(251, 201, 87, 0.3);
}

.hidden{
	display: none;
}

/* positioning not working */
#popupRatingBox{
	position: relative; 
   	top: 20px; 
   	left: 20px;
   	max-width: 300px;
   	z-index: 1;
}

/* --------- main section styling  --------------------------------------------------- */

main{
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: #FBC957;
}


#map{
	width: 70%;
}



/* --------- right section styling  ------------- */

aside {
	background-color: #91CED2;
	padding: 15px;
}


/* Main 'events' header with bottom fader border*/
aside > h2 {
	box-shadow: 0 4px 3px -3px #45A4AA;  /*to create bottom line, set the 4th value as a negative of the third*/
	padding-left: 21px; /*inline with the events thumbnails*/
}


/*outer most events section container */
.events{
	margin-bottom: 15px;
	overflow: scroll; 
	overflow-x: hidden;
}

/* individual event containers */
.eventItem{
	border: solid #fff 2px;
	padding: 15px;
	margin-bottom: 5px;
}


/*image rating for the event*/
.ratedImg{
	height: 50px; /* specify height to counter act flex span */
	padding-right: 15px; /* prevent event name from bumping up on right */
}


.eventHeader{
	padding-right: 14px; /* needed with the tablet and phone media query*/
	margin: 0px;
	margin-top: 0.5em;

}

/* paragraph description text for the event */
.eventDescr{ 
	margin: 0px;
	margin-top: 0.5em; /*relevant on the tablet & phone sizes*/
}


/* h3 elements within the form */
.formHeader{
	display: inline-block;
}

.formHeader:nth-child(3){
	margin-bottom: 0px;
}

/* submit button in the form*/
#submit {
	padding: 5px 10px;
	margin: 17px 7px 7px 7px;
	font-size: 14px;
	background-color: #89A94A;
	border-radius: 10px;
}
#submit:hover {
	background-color: #FBC957;
}


/*  --------- footer styling  -------------  */

footer{
	height: 40px;
	background-color: #054F81;
	text-align: center;
}

/* ------------------------ END ------------------------------------------------------------------------------------ */







/* ------------------------ FLEX BOX ----------------------------------------------------------------------------- */
body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* ---------- Flex header  ---------------*/
header {
	display: flex;
	flex: 0 0 96%; /* why does 100 cause horiz scroll? */
	justify-content: space-between;
}



/* ----------- Flex nav -----------------*/

nav{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#navSearchBox{
	align-self: flex-end;  /*adjusts the height of the search box*/
}


.searchHeader, .navPanel{
	display: inline-block;
}

/* ---------- Flex main  ---------------*/
main {
display: flex;
	flex-wrap: wrap;
}

/*#map{
	display: flex;
	flex: 2;
	align-items: center;
}*/

/* ---------- Flex aside  ---------------*/

.ratedEvent {
	display: flex;
	flex-wrap: wrap;
}

#eventArea {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.eventItem{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: baseline;
}



/* ---------- Flex footer  ---------------*/
footer {
	flex: 0 0 100%;
	padding-top: 2%;
}

footer p {
	margin: 0px;
}

/* ------------------------ END ------------------------------------------------------------------------------------ */






/* ------------------------ Media Queries-------------------------------------------------------------------------- */


/* ----- table size ---------*/
@media only screen and (max-width: 768px){
	
	header{
		height: initial;
		flex-wrap: wrap;
		justify-content: center;
	}

	main{
		height: initial;  /*resets the height so user can scroll through events*/
	}

	#map{
		display: block;
		overflow: auto;
		width: 90%; /*makes map extend 100% */
		margin: auto;
		height: 400px;
	} 

	.events{
		/*overflow: initial;*/ /*resets the overflow scroll from desktop*/
		max-height: 470px; /*keeps user scroll active with lots of event content*/
	}

	#eventArea{
		flex: initial; /*resets the flex 1 set on desktop*/
	}
}


/* ------- medium phone ----------- */
@media only screen and (max-width: 375px){

	nav{
		justify-content: flex-start;
	}

	footer{
		padding-top: 3%;
	}

	#map {
		display: none;
	}
}



/* -------- ALL TOAST ---------------*/


#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    top: 27%;
    max-width: 80%;
    left: 5%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    top: 30%;
    left: 20%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 30%;
    left: 25%;
    max-width: 86%;
  }
}

.toast {
  background-image: url("../images/closeBtn.png"); /*close button icon set as background*/
  background-size: 35px;
  background-position: right top; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  padding: 10px 30px 10px 20px; /*Preven overlap with the close icon*/
  border-radius: 2px;
  top: 35px;
  width: 350px;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 90%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  /*word-break: break-all;  this is the original format but chops up words on the end*/
  -ms-word-wrap: break-word;
  word-wrap: break-word;  /* line 378 and 377 are to make sure words wrap and/or have appropriate dash breaks*/
  background-color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.toast .btn, .toast .btn-large, .toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .toast {
    float: left;
  }
}

@media only screen and (min-width: 993px) {
  .toast {
    float: right;
  }
}


