

body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	margin: 0px;
	max-width: 1300px;
	height: 100vh;

}

h1, h2, h3{
	font-family: 'Paytone One', sans-serif;
	letter-spacing: 1px;
	color: #054F81;
}

/* --------- header section styling  ------------- */
header{
	height: 80px;  /* this will effect the flex heigts*/
	background-color: #054F81;
	padding: 1%;
}

h1{
	letter-spacing: 4px;
	color: #fff;
	font-size: 54px;
	margin: 0px;
	margin-left: 3%;
}

#navSearchBox{
	background: white url(../images/search.png) right center no-repeat;
	width: 250px;
	height: 30px;
	font-size: 17px;
	padding-left: 10px;
	border-radius: 6px;
	margin-bottom: 10px;
}

#redCircle{
	color: #F1592F;
}

#greenCircle{
	color: #89A94A;
}


/* --------- nav section styling  ------------- */

nav{
	width: 100%;
	padding-left: 10px;
}

/* selecting all dropdowns and conent in navbar */
.dropdown {
	display: inline-block;
	border: 1px solid #054F81;
	font-size: 13px;
	padding-left: 5px;
}

.dropdown:hover, .navItem > input:hover{
	background-color: rgba(251, 201, 87, 0.3);
}

/* selecting the calendar input boxes */
.navItem > input {
	border: 1px solid #054F81;
	font-size: 13px;
	border-radius: 6px;
	margin-left: 5px;
} 

#ratingButton{
	border-radius: 15px;
	border: 1px solid #BCBCBC;
	padding: 3px 8px;
	font-size: 14px;
	color: #054F81;
}

#ratingButton:hover{
	padding: 5px 10px;
	background-color: rgba(251, 201, 87, 0.3);
}

.hidden{
	display: none;
}

/* positioning not working */
#popupRatingBox{
	position: relative; 
   	top: 20px; 
   	left: 20px;
   	max-width: 300px;
   	z-index: 1;
}

/* --------- main section styling  --------------------------------------------------- */

main{
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: #FBC957;
}


#map{
	width: 70%;
}



/* --------- right section styling  ------------- */
.eventItem{
	border: solid #fff 2px;
	padding: 20px;
	margin-bottom: 5px;
}
aside {
	background-color: #91CED2;
	padding: 15px;

}

/*outer most events section container */
.events{
	margin-bottom: 15px;
	overflow: scroll; 
	overflow-x: hidden;
}

#addEvent{ 
	
}

/*image rating for the event*/
.ratedImg{
	height: 50px; /* specify height to counter act flex span */
	padding-right: 15px; /* prevent event name from bumping up on right */
}

/* paragraph description text for the event */
.eventDescr{ 
	border-bottom: 2px solid #fff;
	margin: 0px;
	margin-bottom: 8px;
	padding-bottom: 8px;
}


/* h3 elements within the form */
.formHeader{
	display: inline-block;
}

.formHeader:nth-child(3){
	margin-bottom: 0px;
}

/* submit button in the form*/
#submit {
	padding: 5px 10px;
	margin: 17px 7px 7px 7px;
	font-size: 14px;
	background-color: #89A94A;
	border-radius: 10px;
}
#submit:hover {
	background-color: #FBC957;
}


/*  --------- footer styling  -------------  */

footer{
	height: 40px;
	background-color: #054F81;
	text-align: center;
}

/* ------------------------ END ------------------------------------------------------------------------------------ */







/* ------------------------ FLEX BOX ----------------------------------------------------------------------------- */
body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* ---------- Flex header  ---------------*/
header {
	display: flex;
	flex: 0 0 98%; /* why does 100 cause horiz scroll? */
	justify-content: space-between;
}



/* ----------- Flex nav -----------------*/

nav{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#navSearchBox{
	align-self: flex-end;  /*adjusts the height of the search box*/
}


.searchHeader, .navPanel{
	display: inline-block;
}

/* ---------- Flex main  ---------------*/
main {
display: flex;
	flex-wrap: wrap;
}

/*#map{
	display: flex;
	flex: 2;
	align-items: center;
}*/

/* ---------- Flex aside  ---------------*/

.ratedEvent {
	display: flex;
	flex-wrap: wrap;
}

#eventArea {
	display: flex;
	flex: 1;
	flex-direction: column;
}



/* ---------- Flex footer  ---------------*/
footer {
	flex: 0 0 100%;
	padding-top: 2%;
}

footer p {
	margin: 0px;
}

/* ------------------------ END ------------------------------------------------------------------------------------ */






/* ------------------------ Media Queries-------------------------------------------------------------------------- */


/* ----- table size ---------*/
@media only screen and (max-width: 768px){
	
	header{
		height: initial;
		flex-wrap: wrap;
		justify-content: center;
	}

	main{
		height: initial;  /*resets the height so user can scroll through events*/
	}

	#map{
		display: block;
		overflow: auto;
		width: 90%; /*makes map extend 100% */
		margin: auto;
		height: 400px;
	} 

	.events{
		/*overflow: initial;*/ /*resets the overflow scroll from desktop*/
		max-height: 470px; /*keeps user scroll active with lots of event content*/
	}

	#eventArea{
		flex: initial; /*resets the flex 1 set on desktop*/
	}
}


/* ------- medium phone ----------- */
@media only screen and (max-width: 375px){

	nav{
		justify-content: flex-start;
	}

	footer{
		padding-top: 3%;
	}

	#map {
		display: none;
	}
}



/* -------- ALL TOAST ---------------*/

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}

.toast {
  border-radius: 2px;
  top: 35px;
  width: 350px;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: #fff;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toast .btn, .toast .btn-large, .toast .btn-flat {
  margin: 0;
  margin-left: 3rem;
}

.toast.rounded {
  border-radius: 24px;
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .toast {
    float: left;
  }
}

@media only screen and (min-width: 993px) {
  .toast {
    float: right;
  }
}



